<div class="task-container">
    <h1>Angular HTTP Basics</h1>

    <button class="get-button" (click)="getTasks()">GET</button>

    <div *ngFor="let task of tasks | async">
        <mat-card>
            <mat-card-header>{{ task.taskId }}</mat-card-header>
            <mat-card-subtitle>lvl {{ task.severity }} |   sp {{ task.storyPoint }}</mat-card-subtitle>
            <mat-card-content>{{ task.description }}</mat-card-content>
            <mat-card-footer>{{ task.assignee }}</mat-card-footer>
        </mat-card>
    </div>
</div>